// --------------------------------------- Index Start ----------------------------------------------------

@import '../styles/base.scss';

main {
	min-height: 80vh;
    .section-container{
        margin: auto;
        padding: 30px;

        .section-table{
            margin-top: 20px;
            border: 2px solid $textColor;
            border-radius: 10px;
            td{
                padding: 20px;
            }
            a{
                color: $textColor;
                text-decoration: none;
            }
        }
    }    
}

// --------------------------------------- Index End ----------------------------------------------------
