// --------------------------------------- Header Footer Start ----------------------------------------------------

@import '../styles/base.scss';

header {
	background-color: $primaryColor;
}

.hamburger-menu {
    margin: auto;
    a svg {
        color: $textColor;
        border: 1px solid $textColor;
    }
}

footer {
	min-height: 10vh;
    padding: 20px;
	background-color: $primaryColor;
    margin: auto;
    text-align: center;
	p : {
	}
}

// --------------------------------------- Header Footer End ----------------------------------------------------
